body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
}

.menu {
    background-color: aliceblue;
    margin-bottom: 0.5em;
    padding: 1em;
}

.menu a {
    text-decoration: none;
    color: #8ea1be;
    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
}

.menu-rozwijane {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-bottom: 0.4em;
}

.menu a:hover {
    color: #61718a;
}

.menu-tytul {
    margin-right: 1em;
    font-weight: bold;
    color: #516481;
}

.menu-tytul .logo {
    max-height: 1em;
}

.zawartosc {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    background-color: #f5f5f5;
    padding: 3em;
    border-radius: 10px;
}

.lead-podstrona {
    background-color: white;
}

.tekst-dodatkowy {
    margin-top: 1em;
    padding: 1.5em;
    border: 1px dashed #919090;
    width: 43.5%;
    display: inline-block;
    border-radius: 10px;
}

.tekst-dodatkowy:first-child {
    margin-right: 1em;
}

.tytul-sekcji {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

.stopka {
    margin-top: 1em;
    border-top: 1px solid darkgray;
    padding-top: 1em;
    color: darkgray;
    margin-bottom: 1em;
    padding-left: 0.5em;
}

.stopka a {
    color: darkgray;
}

.wprowadzanie-tekstu {
    padding: 1em;
    border: 4px ridge #f5f5f5;
    min-width: 250px;
}

.przycisk {
    padding: 0.8em;
    font-size: 15px;
    background-color: #8ea1be;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 1em;
    cursor: pointer;
}

.przycisk:active {
    background-color: #59728d;
}

.newsletter {
    background-color: #f5f5f5;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    border-radius: 10px;
}

.przycisk-menu img {
    max-height: 1em;
    margin-bottom: -2px;
}

.przycisk-menu {
    float: right;
    padding: 0.8em;
    font-size: 15px;
    color: #8ea1be;
    border: 1px solid #8ea1be;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: -0.8em;
    user-select: none;
}

#menu-linki {
    padding-top: 1em;
}

#menu-linki a{
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .tekst-dodatkowy {
        width: auto;
        display: block;
    }

    .tekst-dodatkowy:first-child {
        margin-right: 0;
    }

    .menu-rozwijane {
        display: block;
    }

    .menu-poziome {
        display: none;
    }

    .schowane {
        display: none;
    }

    body{
        padding-top: 4em;
    }
}